body {
    background: $colorFondo;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.contenedor{
    max-width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 3em;
    text-align: center;
}