#seccionLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.opciones{
    width: 100%;
    display: flex;
    justify-content: center;
}

#opciones-contenedor {
    flex: 0 1 700px;
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: space-around;
}

.btnOpcion {
    flex: 1 1 340px;
    height: 60px;
}

.btnOpcion:hover {
    cursor: pointer;
    background: yellow;
}

#encabezado {
    width: 95vw;
}



.contenedor-imagen {
    height: 60vh;
    width: max-content;
    display: flex;    
    justify-content: center;
    position: relative;
}

@media (max-width: 700px) {
    .contenedor-imagen {
        height: 45vh;
    } 

    #opciones-contenedor {
        gap:.4em;
    }
}

#numeroPregunta{
    background: beige;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    font-size: 2em;
}

#imagen {
    height: 100%;
}

