.oculto {
    display: none;
}

.visible {
    display: initial;
}

.visible-flex {
    display: flex;
}


.deshabilitado:hover, .deshabilitado:disabled {
    cursor:default;
    background: rgba(168, 163, 163, 0.4); 
    color:rgb(88, 88, 88);
}

.opcion--correcta, .opcion--correcta:hover, .opcion--correcta:disabled{
    background-color: $colorBotonCorrecto;
    color: black;
}

.opcion--incorrecta, .opcion--incorrecta:hover, .opcion--incorrecta:disabled {
    background-color:$colorBotonIncorrecto;
    color: white;
}

#seccionMensaje {
    background: rgba(0, 0, 0, 0.3);
    animation-duration: .3s;
    animation-name: aparecer; 
}

#mensaje-contenedor {
    width: 400px;
    background-color: beige;
    border: 2px solid black;
    gap: 2.5em;
}

#mensaje-texto {
    width: 100%;
    text-align: center;
}

#mensaje-boton {
    padding: .5em;
}

#resultado-contenedor {
    width: 300px;
}
#resultado-contenedor-texto {
    width: 100%;
    padding: 1em;
}

@media (max-width: 700px) {
    #resultado-contenedor {
        width: 90vw;
    }
    #mensaje-contenedor {
        width: 90vw;
        gap: 1em;
    }
}

