.oculto {
    display: none;
}

.visible {
    display: initial;
}

.deshabilitado:hover, .deshabilitado:disabled {
    background:beige;
    border: black;
    color: black;
    cursor:default;
}

.habilitado {
   //codigo en estudio
}

.opcion--correcta:hover, .opcion--correcta:disabled{
    background-color: $colorBotonCorrecto;
    color: white;
}

.opcion--incorrecta:hover, .opcion--incorrecta:disabled {
    background-color: red;
    color: white;
}

#mensaje {
    position: fixed;

    #mensaje-contenedor {
        background-color: beige;
        border: 2px solid black;
        width: 50%;
        height: max-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5em;
        padding: 1em;
        position: fixed;
        top:45%;
        left:50%;
        transform: translate(-50%,-50%);
    
        #mensaje-texto {
            width: 100%;
            text-align: center;
        }

        #mensaje-boton {
            padding: .5em;
        }
    }
}