.oculto {
    display: none;
}

.visible {
    display: initial;
}

.deshabilitado:hover, .deshabilitado:disabled {
    background:beige;
    border: black;
    color: black;
    cursor:default;
}

.habilitado {
   //codigo en estudio
}

.opcion--correcta:hover, .opcion--correcta:disabled{
    background-color: green;
    color: white;
}

.opcion--incorrecta:hover, .opcion--incorrecta:disabled {
    background-color: red;
    color: white;
}