$colorFondo:#1D2A4A;
$colorLogin:$colorFondo;
$colorBopciones:#4A64A5;
$colorBopcionesHover:#2D3A66;
$colorBotones: #CD3B4E;
$colorBotonCorrecto: #56F24E;
$colorBotonIncorrecto:#FF5252;
$colorletra:#ffffff;
$letraencabezado:Roboto, cursive;
$letrageneral:Roboto, sans-serif;
$colorencabezado:white;
$colorSeccionPregunta:#f1f7f8;
$altoEncabezadoPregunta: 30px;
