$colorFondo:#7879F1;
$colorLogin:$colorFondo;
$colorpciones:$colorFondo;
$colorBotones: #F5E950;
$colorBotonCorrecto: #56F24E;
$colorBotonIncorrecto:#FF5252;
$colorletra:#ffffff;
$letraencabezado:Shadows Into Light Two, cursive;
$letrageneral:Lato, sans-serif;
$colorencabezado:white;
$colorSeccionPregunta:#f1f7f8;
$altoEncabezadoPregunta: 30px;




